<!DOCTYPE html>
<html>
    <title>Venomally | Portfolio</title>
    <head>
        <link href="../Static/main.css" rel="stylesheet">
    </head>
        <body>
            <div class="navbar">
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="home.html">Home</a></li>
                <a href="home.html">
                    <img class="logo" src="../Templates/bin/logo/logo.png">
                </a>
            </div>
            <div class="aboutcontent">
                <h1>About</h1>
                <h3>A little about myself:<br>
                <br>
                I am Venomally, a 19 year old graphic designer
            from India with 3 years of experience in: <br>-Social Media design <br>-Brand design and <br>-Advertisement design<br><br>
            Feel free to <a href="contact.html">contact</a> me for commissions.</h3>
            </div>
            <p>
                <a class="fbtn" href="https://twitter.com/venomallyDZN", target="_blank">
                    <button class="fixedbutton" type="button">@</button>
                </a>
            </p>
        </body>
</html>
