<!DOCTYPE html>
<html>
    <title>Venomally | Portfolio</title>
    <head>
        <link href="../Static/main.css" rel="stylesheet">
    </head>
        <body>
            <div class="navbar">
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="home.html">Home</a></li>
                <a href="home.html">
                    <img class="logo" src="../Templates/bin/logo/logo.png">
                </a>
            </div>
            <div class="contactcontent">
                <h1>Contact</h1>
                <h3>Contact me:</h3>
                <form action="" method="post">
                    <input class="name" title="Name" placeholder="Enter your name" type="text" name="user_name" required>
                    <input class="email" title="Email ID" placeholder="Enter your email address" type="email" name="email_name" required><br>
                    <textarea class="message" title="Message" placeholder="Message" type="text" name="text_name" required></textarea><br>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <p>
                <a class="fbtn" href="https://twitter.com/venomallyDZN", target="_blank">
                    <button class="fixedbutton" type="button">@</button>
                </a>
            </p>
        </body>
</html>