<!DOCTYPE html>
<html>
    <title>Venomally | Portfolio</title>
    <head>
        <link href="../Static/main.css" rel="stylesheet">
    </head>
        <body>
            <div class="homepage">
                <div class="navbar">
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="home.html">Home</a></li>
                    <a href="home.html">
                        <img class="logo" src="../Templates/bin/logo/logo.png">
                    </a>
                </div>
                <div class="homecontent">
                    <h1>Welcome to my website</h1>
                    <h3>Hello I am Venomally, and this is my Portfolio website.<br><br>
                    Click the below link to view my poerfolio.
                    </h3>
                    <button class="portbutton" type="button" onclick="btnclick()">Portfolio</button>
                    <script>
                        function btnclick(){
                            document.location.href="portfolio.html"
                        }
                    </script>
                </div>
                <p>
                    <a class="fbtn" href="https://twitter.com/venomallyDZN", target="_blank">
                        <button class="fixedbutton" type="button">@</button>
                    </a>
                </p> 
            </div>       
        </body>
</html>