<!DOCTYPE html>
<html>
    <title>Venomally | Portfolio</title>
    <head>
        <link href="../Static/main.css" rel="stylesheet">
    </head>
        <body>
            <div class="navbar">
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="home.html">Home</a></li>
                <a href="home.html">
                    <img class="logo" src="../Templates/bin/logo/logo.png">
                </a>
            </div>
            <div class="portcontent">
                <h1>Portfolio</h1>
                <h3>Portfolio of my Design work:</h3>
                <h2>LogoFolio</h2>
                <a href= "https://www.behance.net/gallery/104559711/Logos" target="_blank">
                    <img src="../Templates/bin/covers/logofolio.jpg" alt="" class="cover1">
                </a>
                <h2>Banners</h2>
                <a href="https://www.behance.net/gallery/104508575/Headers" target="_blank">
                    <img src="../Templates/bin/covers/banner-cover.jpg" alt="" class="cover1">
                </a>
                <h2>Stream Design</h2>
                <a href= "https://www.behance.net/gallery/104580849/Stream-Designs" target="_blank">
                    <img src="../Templates/bin/covers/stream.jpg" alt="" class="cover1">
                </a>
                <h2>Sentinels</h2>
                <a href= "https://www.behance.net/gallery/129302981/Sentinels-Esports-Project" target="_blank">
                    <img src="../Templates/bin/covers/sentinels.jpg" alt="" class="cover1">
                </a>
                <h2>Team Liquid</h2>
                <a href= "https://www.behance.net/gallery/119852013/Team-Liquid-Rebrand-%28unofficial%29" target="_blank">
                    <img src="../Templates/bin/covers/tl.jpg" alt="" class="cover1">
                </a>
            </div>
            <p>
                <a class="fbtn" href="https://twitter.com/venomallyDZN", target="_blank">
                    <button class="fixedbutton" type="button">@</button>
                </a>
            </p>
        </body>
</html>